<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.LYEO.musicianfinder">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Posts.DisplayPosts" />
        <activity android:name=".Posts.SearchScreenActivity" android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Chat.Chat" android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Chat.Rooms" android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Register" android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Login" android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Posts.PublishYourselfActivity" android:windowSoftInputMode="adjustPan" />
        <activity android:name=".PrivateAreaActivity" android:windowSoftInputMode="adjustPan" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".WelcomePageActivity" />
        <activity android:name=".EntrancePageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>